body{
    width:100vw;
    height:100vh;
    padding: 0;
    margin:0;
    display:grid;
    grid-template-rows: 10vh 90vh 20vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: linear-gradient(to right, #2E6F95, #455E89,#5C4D7D,#723C70,#892B64);
}


 footer{
    background-color: white;
}

body > header {
    font-size:1.2rem;
    width: 100%;
    border-bottom: 1px solid white;
}

svg{
    
    height:50px;
    width:50px;
    align-items:center;
}
 
a{
    color:white;
    padding:50px;
    
}

